h1{
    color: red;
    text-align: center;
    font-family: sans-serif;
}
body{
    background-color: aquamarine;
}
.main{
    display: flex;
    justify-content: space-evenly;
}
h2{
    font-size: 25px;
    font-family: sans-serif;
}
p{
    font-size: 20px;
    font-family: sans-serif; 
}